{% extends 'layouts/master.html' %}

{% set title = "Asset" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Tambah Asset</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/asset/{{ waduk.id }}">{{ waduk.nama }}</a></li>
            <li class="breadcrumb-item">Tambah Asset</li>
        </ol>
    </section>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="{{ path_for('asset.add', {'id': waduk.id}, {'sampling': sampling}) }}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-text" for="nama">Nama Asset</label>
                        <input class="form-control" type="text" name="nama" id="nama" required value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-text" for="perolehan">Tanggal Perolehan</label>
                        <input class="form-control" type="text" name="perolehan" id="perolehan" required value="{{ tanggal }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-text" for="kategori">Kategori</label>
                    <select name="kategori" id="kategori" class="form-control" required>
                        {% for k in kategori %}
                            <option value="{{ k }}">{{ k }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-text" for="merk">Merk Asset</label>
                        <input class="form-control" type="text" name="merk" id="merk" required value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-text" for="model">Model Asset</label>
                        <input class="form-control" type="text" name="model" id="model" required value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-text" for="nilai">Nilai Perolehan</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">Rp</span>
                            </div>
                            <input class="form-control" type="number" step="0.1" name="nilai" id="nilai" required value="">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-text" for="bmn">No. BMN</label>
                        <input class="form-control" type="text" name="bmn" id="bmn" required value="">
                    </div>
                </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Tambah">
              </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script>
        $('#perolehan').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
    </script>
{% endblock %}
