{% extends 'layouts/master.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" style="background-color: rgba(255,255,255,0.5);">
                <h1>
                    <a href="/bendungan">
                        <span>
                            Ringkasan 33 Bendungan
                            <br>
                            Status : 9 September 2019
                            <br>
                            Pola : Batas Bawah
                        </span>
                    </a>
                </h1>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="card col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Volume Tampungan</h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Potensi</p>
                                </div>
                                <div class="col-md-8" align="right">
                                    <h3>560,334,000 M3</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Realisasi</p>
                                </div>
                                <div class="col-md-8" align="right">
                                    <h5>50,334,000 M3</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <p>RTOW</p>
                                </div>
                                <div class="col-md-8" align="right">
                                    <h5>5,334,000 M3</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="card col-md-7">
                    <div class="row text-center">
                        <h3><b>Total Outflow</b></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>RTOW</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>10.02 <small>(M3/detik)</small></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Realisasi</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>24.80 <small>(M3/detik)</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="card col-md-7">
                    <div class="row text-center">
                        <h3><b>Total Inflow</b></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>RTOW</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>4 <small>(M3/detik)</small></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Realisasi</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>0 <small>(M3/detik)</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
