{% extends 'layouts/master.html' %}

{% set title = "Asset" %}

{% block css %}

{% endblock %}

{% block content %}
    <!-- Computer View -->
    <section class="content-header d-none d-sm-block">
        <h1>{{ waduk.nama }} Asset</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="/asset">Asset</a></li> -->
            <li class="breadcrumb-item">{{ waduk.nama }}</li>
        </ol>
    </section>

    <!-- Mobile View -->
    <section class="content-header d-block d-sm-none">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="/asset">Asset</a></li> -->
            <li class="breadcrumb-item">{{ waduk.nama }}</li>
        </ol>
        <h3>{{ waduk.nama }} Asset</h3>
    </section>
    <hr>
    {% for as in asset %}
        <div class="row">
            <div class="col-md-3">
                <h5>{{ loop.index }}. {{ as.nama }}</h5>
            </div>
            <div class="col-md-3 ml-3">
                <p>BMN :{{ as.bmn }}</p>
                <p>Merk :{{ as.merk }}</p>
                <p>Model :{{ as.model }}</p>
            </div>
            <div class="col-md-3 ml-3">
                <p>Status : <span style="color: red;">Rusak</span></p>
            </div>
            <div class="col-md-2 ml-3">
                <a href="{{ path_for('asset.rusak.add', {'id': waduk.id, 'asset_id': as.id}) }}" class="btn btn-sm btn-outline-primary">Lapor Rusak</a>
                <a href="#"><i class="fas fa-trash ml-3"></i></a>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}

{% block js %}

{% endblock %}
