{% extends 'layouts/master.html' %}

{% set title = "Lokasi" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Lokasi </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Lokasi</li>
        </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ path_for('lokasi.add') }}">
              <div class="form-group">
                  <label for="nama">Nama</label>
                  <input id="nama" name="nama" autofocus required class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                  <label for="kab">Kabupaten</label>
                  <input id="kab" name="kab" required class="form-control" type="text" value="">
              </div>
              <div class="form-group">
                  <label for="lbi">Irigasi</label>
                  <input id="lbi" name="lbi" required class="form-control" type="number" step="0.1" value="">
              </div>
              <div class="form-group">
                  <label for="volume">Tampungan</label>
                  <input id="volume" name="volume" required class="form-control" type="number" step="0.1" value="">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary">
              </div>
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
