{% extends 'layouts/master.html' %}

{% set title = "User" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
    <h1>Detail {{ lokasi.nama }}</h1>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/lokasi/">Lokasi</a></li>
    <li class="breadcrumb-item">Detail {{ lokasi.nama }}</li>
    </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="{{ path_for('lokasi.detail', {'id': lokasi.id}) }}">
              <div class="form-group">
                  <label for="nama">Nama</label>
                  <input id="nama" name="nama" autofocus required class="form-control" type="text" value="{{ lokasi.nama }}">
              </div>
              <div class="form-group">
                  <label for="kab">Kabupaten</label>
                  <input id="kab" name="kab" required class="form-control" type="text" value="{{ lokasi.kab }}">
              </div>
              <div class="form-group">
                  <label for="lbi">Irigasi</label>
                  <input id="lbi" name="lbi" required class="form-control" type="number" step="0.1" value="{{ lokasi.lbi }}">
              </div>
              <div class="form-group">
                  <label for="volume">Tampungan</label>
                  <input id="volume" name="volume" required class="form-control" type="number" step="0.1" value="{{ lokasi.volume }}">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary">
              </div>
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
