{% extends 'layouts/master.html' %}

{% set title = "Waduk" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h1 class="text-danger">Delete Waduk </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/waduk/">Waduk</a></li>
            <li class="breadcrumb-item">{{ waduk.nama }}</li>
        </ol>
    </section>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ path_for('waduk.delete', {id:waduk.id}) }}" method="POST">
                Yakin akan menghapus waduk {{ waduk.nama }}?
                <a class="btn btn-primary" href="/waduk/">
                    Tidak
                </a>
                <input type="submit" class="btn-danger btn" value="Ya, Hapus">
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
