{% extends 'layouts/master.html' %}

{% set title = "Harian" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h2>Bendungan</h2>
    </section>
    <h3>
        <i class="fa fa-calendar"></i>
        <span id="datepicker" style="color: #18bc9c"> {{ sampling | date('d M Y') }}</span>
    </h3>
    <table class="table table-bordered table-stripped table-responsive">
        <thead>
            <tr class="active">
                <th rowspan="2" valign="middle">No</th>
                <th rowspan="2">Nama</th>
                <th rowspan="2">CH</th>
                <th colspan="2">Pagi</th>
                <th colspan="2">Siang</th>
                <th colspan="2">Sore</th>
                <th rowspan="2">Q Inflow</th>
                <th colspan="2">Q Outflow</th>
                <th colspan="2">VNotch</th>
                <th colspan="15">Piezometer</th>
            </tr>
            <tr class="active">
                <th>TMA</th>
                <th>Vol</th>
                <th>TMA</th>
                <th>Vol</th>
                <th>TMA</th>
                <th>Vol</th>
                <th>Intake</th>
                <th>Spillway</th>
                <th>Tinggi</th>
                <th>Debit</th>
                {% for i in range(1, 5) %}
                    {% for j in ['A', 'B', 'C'] %}
                        <th>{{ i }}{{ j }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for w in waduk_daily %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path_for('operasi.bendungan', {'id': w.id}) }}">
                            {{ w.nama }}
                        </a>
                    </td>
                    {% if w.tma or w.operasi %}
                        <td align="right">{{ w.operasi.curahhujan }}</td>
                        <td align="right">{{ w.tma['06'].manual }}</td>
                        <td align="right">{{ w.tma['06'].volume }}</td>
                        <td align="right">{{ w.tma.12.manual }}</td>
                        <td align="right">{{ w.tma.12.volume }}</td>
                        <td align="right">{{ w.tma.18.manual }}</td>
                        <td align="right">{{ w.tma.18.volume }}</td>
                        <td align="right">{{ w.operasi.inflow_deb }}</td>
                        <td align="right">{{ w.operasi.outflow_deb }}</td>
                        <td align="right">{{ w.operasi.spillway_deb }}</td>
                        {% for vn in w.vnotch %}
                            {% if vn.nama_vn == "VNotch 1" %}
                                <td align="right">{{ vn.tma }}</td>
                                <td align="right">{{ vn.debit }}</td>
                            {% endif %}
                        {% endfor %}
                        {% for pie in w.piezo %}
                            <td align="right">{{ pie.tma }}</td>
                        {% endfor %}
                    {% else %}
                        <td colspan="27">Tidak Ada Data</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}

<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<script>
    // resolve package confict
    // let datepicker = $.fn.datepicker.noConflict();
    // $.fn.bootstrapDP = datepicker;

    $('#datepicker').datepicker({
        todayHighlight: true,
        autoclose: true,
        format: 'yyyy-mm-dd'
    });

    $('#datepicker').on('changeDate', function () {
        window.location = "{{ path_for('waduk.harian') }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
    });
</script>
{% endblock %}
