{% extends 'layouts/master.html' %}

{% set title = "Waduk" %}

{% block css %}
<style media="screen">
    a[aria-expanded=true] .fa-chevron-down {
       display: none;
    }
    a[aria-expanded=false] .fa-chevron-up {
       display: none;
    }
    .btn-outline-primary {
        color: #007bff;
        background-color: transparent;
        background-image: none;
        border-color: #007bff;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #007bff;
        text-decoration: none;
    }
    .btn-outline-success {
        color: #18bc9c;
        background-color: transparent;
        background-image: none;
        border-color: #18bc9c;
    }
    .btn-outline-success:hover {
        color: #fff;
        background-color: #18bc9c;
        text-decoration: none;
    }
    .btn-outline-danger {
        color: #e74c3c;
        background-color: transparent;
        background-image: none;
        border-color: #e74c3c;
    }
    .btn-outline-danger:hover {
        color: #fff;
        background-color: #e74c3c;
        text-decoration: none;
    }
</style>
<link href="{{ asset('css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="content-header">
        <h2>
            Bendungan
            <a class="ml-5 btn-sm btn btn-outline-primary"
                data-toggle="collapse" href="#form-add"
                role="button" aria-expanded="false"
                aria-controls="">
                Tambah
            </a>
        </h2>
    </section>
    <div class="row collapse" id="form-add">
        <div class="col-md-8">
            <h2>Tambah Waduk</h2>
            <form method="POST" action="{{ path_for('waduk.add') }}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nama">Nama</label>
                        <input id="nama" name="nama" autofocus required class="form-control" type="text" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="kab">Kabupaten</label>
                        <input id="kab" name="kab" required class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="lbi">Irigasi</label>
                        <input id="lbi" name="lbi" required class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="volume">Tampungan</label>
                        <input id="volume" name="volume" required class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="elev_puncak">Elevasi Puncak</label>
                        <input id="elev_puncak" name="elev_puncak" required class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sedimen">Sedimen</label>
                        <input id="sedimen" name="sedimen" class="form-control" type="number" step="0.1" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="ma_min">Muka Air Minimal</label>
                        <input id="ma_min" name="ma_min" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ma_norm">Muka Air Normal</label>
                        <input id="ma_norm" name="ma_norm" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ma_max">Muka Air Maksimal</label>
                        <input id="ma_max" name="ma_max" class="form-control" type="number" step="0.1" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="elev_awas">Elevasi Awas</label>
                        <input id="elev_awas" name="elev_awas" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="elev_siaga">Elevasi Siaga</label>
                        <input id="elev_siaga" name="elev_siaga" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="elev_waspada">Elevasi Waspada</label>
                        <input id="elev_waspada" name="elev_waspada" class="form-control" type="number" step="0.1" value="">
                    </div>
                </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Simpan">
              </div>
            </form>
        </div>
    </div>
    <hr>
    <h3>Data Teknis</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th rowspan="2">No</th>
          <th rowspan="2">Nama</th>
          <th rowspan="2">Kab</th>
          <th rowspan="2">Tampungan (m<sup>3</sup>)</th>
          <th rowspan="2">Irigasi (Ha)</th>
          <th rowspan="2">Elev Puncak (m)</th>
          <th rowspan="2">MAB (m)</th>
          <th rowspan="2">MAN (m)</th>
          <th rowspan="2">MAMin (m)</th>
          <th rowspan="2">Sedimen (m)</th>
          <th rowspan="2">Elev Awas (m)</th>
          <th rowspan="2">Elev Siaga (m)</th>
          <th rowspan="2">Elev Waspada (m)</th>
          <!-- <th>VNotch</th>
          <th>Piezometer</th> -->
        </tr>
        <!-- <tr>
            <th>VN1</th>
            <th>VN2</th>
            <th>Pie1</th>
            <th>Pie2</th>
        </tr> -->
        </thead>
        <tbody>
        {% for w in waduk %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                {{ w.waduk.nama }}
            </td>
            <td>
                {{ w.waduk.kab }}
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="volume"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Tampungan"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.volume %}{{ w.waduk.volume }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="lbi"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Irigasi"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.lbi %}{{ w.waduk.lbi }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="elev_puncak"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Elev Puncak"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.elev_puncak %}{{ w.waduk.elev_puncak }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="muka_air_max"
                    data-type="number"
                    data-title="{{ w.waduk.name }} MAB"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.muka_air_max %}{{ w.waduk.muka_air_max }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="muka_air_normal"
                    data-type="number"
                    data-title="{{ w.waduk.name }} MAN"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.muka_air_normal %}{{ w.waduk.muka_air_normal }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="muka_air_min"
                    data-type="number"
                    data-title="{{ w.waduk.name }} MAMin"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.muka_air_min %}{{ w.waduk.muka_air_min }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="sedimen"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Sedimen"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.sedimen %}{{ w.waduk.sedimen }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="bts_elev_awas"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Elev Awas"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.bts_elev_awas %}{{ w.waduk.bts_elev_awas }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="bts_elev_siaga"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Elev Siaga"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.bts_elev_siaga %}{{ w.waduk.bts_elev_siaga }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <td>
                <a data-url="/waduk/{{ w.waduk.id }}/update"
                    class="editable"
                    data-name="bts_elev_waspada"
                    data-type="number"
                    data-title="{{ w.waduk.name }} Elev Waspada"
                    data-step="any" data-step="any"
                    data-pk="{{ w.waduk.id }}">
                        {% if w.waduk.bts_elev_waspada %}{{ w.waduk.bts_elev_waspada }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                </a>
            </td>
            <!-- <td></td>
            <td></td> -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script>
        // turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable();
        });
    </script>
{% endblock %}
