{% extends 'layouts/master.html' %}

{% set title = "Waduk" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>Waduk
            <a class="ml-5 btn-sm btn btn-outline-primary"
                data-toggle="collapse" href="#form-add"
                role="button" aria-expanded="false"
                aria-controls="">
                Tambah
            </a>

        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Waduk</li>
        </ol>
    </section>
    <div class="row collapse" id="form-add">
        <div class="col-md-8">
            <h2>Tambah Waduk</h2>
            <form method="POST" action="{{ path_for('waduk.add') }}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nama">Nama</label>
                        <input id="nama" name="nama" autofocus required class="form-control" type="text" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="kab">Kabupaten</label>
                        <input id="kab" name="kab" required class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="lbi">Irigasi</label>
                        <input id="lbi" name="lbi" required class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="volume">Tampungan</label>
                        <input id="volume" name="volume" required class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="elev_puncak">Elevasi Puncak</label>
                        <input id="elev_puncak" name="elev_puncak" required class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sedimen">Sedimen</label>
                        <input id="sedimen" name="sedimen" class="form-control" type="number" step="0.1" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="ma_min">Muka Air Minimal</label>
                        <input id="ma_min" name="ma_min" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ma_norm">Muka Air Normal</label>
                        <input id="ma_norm" name="ma_norm" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ma_max">Muka Air Maksimal</label>
                        <input id="ma_max" name="ma_max" class="form-control" type="number" step="0.1" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="elev_awas">Elevasi Awas</label>
                        <input id="elev_awas" name="elev_awas" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="elev_siaga">Elevasi Siaga</label>
                        <input id="elev_siaga" name="elev_siaga" class="form-control" type="number" step="0.1" value="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="elev_waspada">Elevasi Waspada</label>
                        <input id="elev_waspada" name="elev_waspada" class="form-control" type="number" step="0.1" value="">
                    </div>
                </div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Simpan">
              </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>Kabupaten</th>
          <th>LBI</th>
          <th>Volume</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for l in waduk %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ l.nama }}</td>
            <td>{{ l.kab }}</td>
            <td>{{ l.lbi }}</td>
            <td>{{ l.volume }}</td>
            <td>
                <a href="{{ path_for('waduk.detail', {id:l.id}) }}" class="small">
                    Detail
                </a>
                <a href="{{ path_for('waduk.delete', {id:l.id}) }}" class="float-right text-danger" title="DELETE">
                    &times;
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <!-- <script src=""></script>
    <script>
    $(document).ready(function() {
        $('.editable').editable({
            success: function(response, newValue) {
                newValue = 'Atur Ulang Password';
            }
        });
    })
    </script> -->
{% endblock %}
