{% extends 'layouts/master.html' %}

{% set title = "Operasi" %}

{% block css %}
<style media="screen">
    a[aria-expanded=true] .fa-chevron-down {
       display: none;
    }
    a[aria-expanded=false] .fa-chevron-up {
       display: none;
    }
</style>
<link href="{{ asset('css/bootstrap-editable.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="content-header">
        <h2>{{ waduk.nama }}</h2>
    </section>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h4>
                    Form Data Harian
                    <a class="ml-5 mr-5 float-right"
                        data-toggle="collapse" href="#form-add-daily"
                        role="button" aria-expanded="false"
                        aria-controls="">
                        <i class="fas fa-plus mr-2"></i>
                    </a>
                </h4>
                <div class="collapse" id="form-add-daily">
                    <form method="POST" action="{{ path_for('operasi.daily.add', {'id': waduk.id}, {'sampling': sampling}) }}">
                        <div class="form-group">
                            <label class="form-text" for="sampling">Tanggal</label>
                            <input class="form-control" type="text" name="sampling" id="sampling-daily" required value="{{ sampling | date('Y-m-d') }}">
                        </div>
                        <br>
                        <h3>Curah Hujan</h3>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="ch">Curah Hujan <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="ch" name="ch" autofocus required class="form-control" type="number" step="0.01" value="0" aria-describedby="ch_addon">
                                    <span class="input-group-addon" id="ch_addon">m</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3>Inflow</h3>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="debit">Debit <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="debit" name="debit" required class="form-control" type="number" step="0.01" value="0" aria-describedby="deb_addon">
                                    <span class="input-group-addon" id="deb_addon">m<sup>3</sup>/detik</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="volume">Volume <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="volume" name="volume" required class="form-control" type="number" step="0.01" value="0" aria-describedby="tma_addon">
                                    <span class="input-group-addon" id="vol_addon">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3>Outflow</h3>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="deb-in">Debit Intake <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="deb-in" name="deb-in" required class="form-control" type="number" step="0.01" value="0" aria-describedby="deb_addon">
                                    <span class="input-group-addon" id="deb_addon">m<sup>3</sup>/detik</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vol-in">Volume Intake <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="vol-in" name="vol-in" required class="form-control" type="number" step="0.01" value="0" aria-describedby="tma_addon">
                                    <span class="input-group-addon" id="vol_addon">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="deb-spill">Debit Spillway <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="deb-spill" name="deb-spill" required class="form-control" type="number" step="0.01" value="0" aria-describedby="deb_addon">
                                    <span class="input-group-addon" id="deb_addon">m<sup>3</sup>/detik</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vol-spill">Volume Spillway <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="vol-spill" name="vol-spill" required class="form-control" type="number" step="0.01" value="0" aria-describedby="tma_addon">
                                    <span class="input-group-addon" id="vol_addon">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Tambah">
                      </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <h4>
                    Form TMA
                    <a class="ml-5 mr-5 float-right"
                        data-toggle="collapse" href="#form-add-tma"
                        role="button" aria-expanded="false"
                        aria-controls="">
                        <i class="fas fa-plus mr-2"></i>
                    </a>
                </h4>
                <div class="collapse" id="form-add-tma">
                    <form method="POST" action="{{ path_for('operasi.tma.add', {'id': waduk.id}, {'sampling': sampling}) }}">
                        <div class="row">
                            <div class="form-group col-md-9">
                                <label class="form-text" for="sampling">Tanggal</label>
                                <input class="form-control" type="text" name="sampling" id="sampling-tma" required value="{{ sampling | date('Y-m-d') }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="jam">Jam</label>
                                <select name="jam" id="jam" class="form-control" required>
                                    <option value="06:00" {{ inputjam == "06:00" ? 'selected' : '' }}>6</option>
                                    <option value="12:00" {{ inputjam == "12:00" ? 'selected' : '' }}>12</option>
                                    <option value="18:00" {{ inputjam == "18:00" ? 'selected' : '' }}>18</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="tma">TMA <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="tma" name="tma" required class="form-control" type="number" step="0.01" value="0" aria-describedby="tma_addon">
                                    <span class="input-group-addon" id="tma_addon">m</span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vol">Volume <span style="color: red;">*</span></label>
                                <div class="input-group">
                                    <input id="vol" name="vol" required class="form-control" type="number" step="0.01" value="0" aria-describedby="vol_addon">
                                    <span class="input-group-addon" id="vol_addon">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Tambah">
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h3>
        Data Harian
        <span id="datepicker" style="color: #18bc9c"> {{ sampling | date('M Y') }}</span>
    </h3>
    <hr>
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
              <th rowspan="2">Tanggal</th>
              <th rowspan="2">Curah Hujan</th>
              <th colspan="2">Jam 6</th>
              <th colspan="2">Jam 12</th>
              <th colspan="2">Jam 18</th>
              <th colspan="2">Inflow</th>
              <th colspan="4">Outflow</th>
            </tr>
            <tr>
              <th>TMA</th>
              <th>Vol</th>
              <th>TMA</th>
              <th>Vol</th>
              <th>TMA</th>
              <th>Vol</th>
              <th>Debit</th>
              <th>Volume</th>
              <th>Q Intake</th>
              <th>V Intake</th>
              <th>Q Spillway</th>
              <th>V Spillway</th>
            </tr>
        </thead>
        <tbody>
            {% for t, per in periodik %}
            <tr>
                <td>{{ t | date('d M Y') }}</td>
                <td align="right">
                    <a data-url="/operasi/{{ waduk.id }}/daily/update" class="editable" data-name="curahhujan_{{ t }}" data-type="number" data-step="any" data-step="any" data-pk="{{ per.id }}">
                        {% if per.ch %}{{ per.ch }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
                {% for j, tma in per.tma %}
                    <td align="right">
                        <a href="#" data-url="/operasi/{{ waduk.id }}/tma/update" class="editable" id="manual_{{ t }}_{{ j }}" data-type="number" data-step="any" data-pk="{{ tma.id }}">
                            {% if tma.tma %}{{ tma.tma }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                        </a>
                    </td>
                    <td align="right">
                        <a href="#" data-url="/operasi/{{ waduk.id }}/tma/update" class="editable" id="volume_{{ t }}_{{ j }}" data-type="number" data-step="any" data-pk="{{ tma.id }}">
                            {% if tma.volume %}{{ tma.volume }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                        </a>
                    </td>
                {% endfor %}
                <td align="right">
                    <a href="#" data-url="#" class="editable" id="inflow-deb-{{ per.id }}" data-type="number" data-step="any" data-pk="{{ per.id }}">
                        {% if per.inflow.debit %}{{ per.inflow.debit }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
                <td align="right">
                    <a href="#" data-url="#" class="editable" id="inflow-vol-{{ per.id }}" data-type="number" data-step="any" data-pk="{{ per.id }}">
                        {% if per.inflow.volume %}{{ per.inflow.volume }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
                <td align="right">
                    <a href="#" data-url="#" class="editable" id="outflow-deb-{{ per.id }}" data-type="number" data-step="any" data-pk="{{ per.id }}">
                        {% if per.outflow.debit %}{{ per.outflow.debit }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
                <td align="right">
                    <a href="#" data-url="#" class="editable" id="outflow-vol-{{ per.id }}" data-type="number" data-step="any" data-pk="{{ per.id }}">
                        {% if per.outflow.volume %}{{ per.outflow.volume }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
                <td align="right">
                    <a href="#" data-url="#" class="editable" id="spillway-deb-{{ per.id }}" data-type="number" data-step="any" data-pk="{{ per.id }}">
                        {% if per.outflow.spill_deb %}{{ per.outflow.spill_deb }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
                <td align="right">
                    <a href="#" data-url="#" class="editable" id="spillway-vol-{{ per.id }}" data-type="number" data-step="any" data-pk="{{ per.id }}">
                        {% if per.outflow.spill_vol %}{{ per.outflow.spill_vol }}{% else %}<span style="color: red;">Empty</span>{% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/bootstrap-editable.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script>
        // resolve package confict
        let datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;

        $('#datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            startView: "months",
            minViewMode: "months"
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ path_for('operasi.bendungan', {'id': waduk.id}) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#sampling-tma').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-daily').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });

        //turn to popup mode
        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable();
        });

    </script>
{% endblock %}
