{% extends 'layouts/master.html' %}

{% set title = "Operasi" %}

{% block css %}
<style media="screen">
    a[aria-expanded=true] .fa-chevron-down {
       display: none;
    }
    a[aria-expanded=false] .fa-chevron-up {
       display: none;
    }
</style>
{% endblock %}

{% block content %}
    <!-- Computer View -->
    <section class="content-header d-none d-sm-block">
        <h1>{{ waduk.nama }} Daily</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">{{ waduk.nama }}</li>
        </ol>
    </section>

    <!-- Mobile View -->
    <section class="content-header d-block d-sm-none">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">{{ waduk.nama }}</li>
        </ol>
        <h3>{{ waduk.nama }} Daily</h3>
    </section>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h4>
                <b>Periodik Daily</b>
                <a class="ml-5 mr-5 float-right"
                    data-toggle="collapse" href="#form-add-daily"
                    role="button" aria-expanded="false"
                    aria-controls="">
                    <i class="fas fa-plus mr-2"></i>
                </a>
            </h4>
            <div class="container collapse" id="form-add-daily">
                <form method="POST" action="{{ path_for('operasi.daily.add', {'id': waduk.id}, {'sampling': sampling}) }}">
                    <div class="form-group">
                        <label class="form-text" for="sampling">Tanggal</label>
                        <input class="form-control" type="text" name="sampling" id="sampling-daily" required value="{{ sampling | date('Y-m-d') }}">
                    </div>
                    <br>
                    <h3>Curah Hujan</h3>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="ch">Curah Hujan <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="ch" name="ch" autofocus required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="ch-append">m</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>Inflow</h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="debit">Debit <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="debit" name="debit" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="debit-append">m<sup>3</sup>/detik</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="volume">Volume <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="volume" name="volume" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="volume-append">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h3>Outflow</h3>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="deb-in">Debit Intake <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="deb-in" name="deb-in" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="deb-in-append">m<sup>3</sup>/detik</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="vol-in">Volume Intake <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="vol-in" name="vol-in" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="vol-in-append">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="deb-spill">Debit Spillway <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="deb-spill" name="deb-spill" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="deb-spill-append">m<sup>3</sup>/detik</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="vol-spill">Volume Spillway <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="vol-spill" name="vol-spill" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="vol-spill-append">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Tambah">
                  </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h4>
                <b>TMA</b>
                <a class="ml-5 mr-5 float-right"
                    data-toggle="collapse" href="#form-add-tma"
                    role="button" aria-expanded="false"
                    aria-controls="">
                    <i class="fas fa-plus mr-2"></i>
                </a>
            </h4>
            <div class="container collapse" id="form-add-tma">
                <form method="POST" action="{{ path_for('operasi.tma.add', {'id': waduk.id}, {'sampling': sampling}) }}">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label class="form-text" for="sampling">Tanggal</label>
                            <input class="form-control" type="text" name="sampling" id="sampling-tma" required value="{{ sampling | date('Y-m-d') }}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="jam">Jam</label>
                            <select name="jam" id="jam" class="form-control" required>
                                <option value="06:00" {{ inputjam == "06:00" ? 'selected' : '' }}>6</option>
                                <option value="12:00" {{ inputjam == "12:00" ? 'selected' : '' }}>12</option>
                                <option value="18:00" {{ inputjam == "18:00" ? 'selected' : '' }}>18</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="tma">TMA <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="tma" name="tma" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="tma-append">m</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="vol">Volume <span style="color: red;">*</span></label>
                            <div class="input-group">
                                <input id="vol" name="vol" required class="form-control" type="number" step="0.1" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="vol-append">m<sup>3</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Tambah">
                  </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="form-control col-md-3">
            <span id="datepicker"><i class="fas fa-calendar mr-2 text-right"></i> {{ sampling }}</span>
        </div>
    </div>
    <hr>
    {% for t, per in periodik %}
        <div>
            <h6>
                <b>{{ t | date('d M Y') }}</b>
                <span>|</span>
                <span style="color: {% if per.ch %}blue{% else %}red{% endif %};">Daily</span>
                <span>|</span>
                <span style="color: {% if per.tma['06'] and per.tma.12 and per.tma.18 %}blue{% else %}red{% endif %};">TMA</span>
                <a class="ml-3"
                    data-toggle="collapse" href="#periodik-{{ per.id }}"
                    role="button" aria-expanded="false"
                    aria-controls="">
                    <i class="fa fa-chevron-up pull-right"></i>
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </h6>
        </div>
        <div class="row container collapse" id="periodik-{{ per.id }}">
            <div class="col-md-4">
                <h5>Tinggi Muka Air</h5>
                {% if per.tma %}
                    {% for j, t in per.tma %}
                    <div class="row container">
                        <div class="col-md-4">
                            <p>Jam {{ j }}</p>
                        </div>
                        <div class="col-md-8 ml-3">
                            {% if t %}
                                <p>TMA : {{ t.tma }} <span>m</span></p>
                                <p>Volume : {{ t.volume }} <span>m<sup>3</sup></span></p>
                            {% else %}
                                <p style="color: red;"><b>Belum ada Data</b></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p style="color: red;"><b>Belum ada Data</b></p>
                {% endif %}

            </div>
            <div class="col-md-4">
                <h5>Inflow</h5>
                <div class="container">
                    {% if per.inflow %}
                        <p>Volume : {{ per.inflow.volume }} <span>m<sup>3</sup></span></p>
                        <p>Debit : {{ per.inflow.debit }} <span>m<sup>3</sup>/detik</span></p>
                    {% else %}
                        <p style="color: red;"><b>Belum ada Data</b></p>
                    {% endif %}
                </div>

                <h5>Curah Hujan</h5>
                <div class="container">
                    {% if per.ch %}
                        <p>CH : {{ per.ch }} <span>mm</span></p>
                    {% else %}
                        <p style="color: red;"><b>Belum ada Data</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <h5>Outflow</h5>
                {% if per.outflow %}
                    <div class="container">
                        <p>Volume : {{ per.outflow.volume }} <span>m<sup>3</sup></span></p>
                        <p>Debit : {{ per.outflow.debit }} <span>m<sup>3</sup>/detik</span></p>
                        <p>Spillway Volume : {{ per.outflow.spill_vol }} <span>m<sup>3</sup></span></p>
                        <p>Spillway Debit : {{ per.outflow.spill_deb }} <span>m<sup>3</sup>/detik</span></p>
                    </div>
                {% else %}
                    <div class="container">
                        <p style="color: red;"><b>Belum ada Data</b></p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script>
        $('#datepicker').datepicker({
            todayHighlight: true,
            autoclose: true,
            format: 'yyyy-mm-dd'
        });
        $('#datepicker').on('changeDate', function () {
            window.location = "{{ path_for('operasi.bendungan', {'id': waduk.id}) }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
        });

        $('#sampling-tma').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });
        $('#sampling-daily').datepicker({
            todayHighlight: true,
            autoclose: true,
            format:  'yyyy-mm-dd'
        });

    </script>
{% endblock %}
