{% extends 'layouts/master.html' %}

{% set title = "Harian" %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="content-header">
        <h2>Bendungan</h2>
    </section>
    <h3>
        <i class="fa fa-calendar"></i>
        <span id="datepicker" style="color: #18bc9c"> {{ sampling | date('d M Y') }}</span>
    </h3>
    <table class="table table-bordered table-stripped table-responsive">
        <thead>
            <tr class="active">
                <th rowspan="2" style="vertical-align:middle;" class="text-center">No</th>
                <th rowspan="2" style="vertical-align:middle;" class="text-center">Nama</th>
                <th rowspan="2" style="vertical-align:middle;" class="text-center">CH</th>
                <th colspan="2" style="vertical-align:middle;" class="text-center">Pagi</th>
                <th colspan="2" style="vertical-align:middle;" class="text-center">Siang</th>
                <th colspan="2" style="vertical-align:middle;" class="text-center">Sore</th>
                <th rowspan="2" style="vertical-align:middle;" class="text-center">Q Inflow (m<sup>3</sup>/det)</th>
                <th colspan="2" style="vertical-align:middle;" class="text-center">Q Outflow (m<sup>3</sup>/det)</th>
                <th colspan="2" style="vertical-align:middle;" class="text-center">VNotch (L/det)</th>
                <th colspan="15" style="vertical-align:middle;" class="text-center">Piezometer (m)</th>
            </tr>
            <tr class="active">
                <th style="vertical-align:middle;" class="text-center">TMA (m)</th>
                <th style="vertical-align:middle;" class="text-center">Vol (m<sup>3</sup>)</th>
                <th style="vertical-align:middle;" class="text-center">TMA (m)</th>
                <th style="vertical-align:middle;" class="text-center">Vol (m<sup>3</sup>)</th>
                <th style="vertical-align:middle;" class="text-center">TMA (m)</th>
                <th style="vertical-align:middle;" class="text-center">Vol (m<sup>3</sup>)</th>
                <th style="vertical-align:middle;" class="text-center">Intake</th>
                <th style="vertical-align:middle;" class="text-center">Spillway</th>
                <th style="vertical-align:middle;" class="text-center">Tinggi</th>
                <th style="vertical-align:middle;" class="text-center">Debit</th>
                {% for i in range(1, 5) %}
                    {% for j in ['A', 'B', 'C'] %}
                        <th style="vertical-align:middle;" class="text-center">{{ i }}{{ j }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for w in waduk_daily %}
                <tr>
                    <td style="vertical-align:middle;">{{ loop.index }}</td>
                    <td style="vertical-align:middle;">
                        <a href="{{ path_for('operasi.bendungan', {'id': w.id}) }}">
                            {{ w.nama }}
                        </a>
                    </td>
                    {% if w.tma or w.operasi %}
                        <td class="text-right" style="vertical-align:middle;">{% if w.operasi.curahhujan %}{{ w.operasi.curahhujan|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.tma['06'].manual %}{{ w.tma['06'].manual|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.tma['06'].volume %}{{ w.tma['06'].volume|number_format(0, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.tma.12.manual %}{{ w.tma.12.manual|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.tma.12.volume %}{{ w.tma.12.volume|number_format(0, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.tma.18.manual %}{{ w.tma.18.manual|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.tma.18.volume %}{{ w.tma.18.volume|number_format(0, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.operasi.inflow_deb %}{{ w.operasi.inflow_deb|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.operasi.outflow_deb %}{{ w.operasi.outflow_deb|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.operasi.spillway_deb %}{{ w.operasi.spillway_deb|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                    {% else %}
                        <td colspan="10" style="vertical-align:middle;">Tidak Ada Data</td>
                    {% endif %}

                    {% if w.vnotch %}
                        <td class="text-right" style="vertical-align:middle;">{% if w.vnotch.vn1_tma %}{{ w.vnotch.vn1_tma|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.vnotch.vn1_debit %}{{ w.vnotch.vn1_debit|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                    {% else %}
                        <td colspan="2" style="vertical-align:middle;">Tidak Ada Data</td>
                    {% endif %}

                    {% if w.piezo %}
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p1a %}{{ w.piezo.p1a|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p1b %}{{ w.piezo.p1b|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p1c %}{{ w.piezo.p1c|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p2a %}{{ w.piezo.p2a|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p2b %}{{ w.piezo.p2b|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p2c %}{{ w.piezo.p2c|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p3a %}{{ w.piezo.p3a|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p3b %}{{ w.piezo.p3b|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p3c %}{{ w.piezo.p3c|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p4a %}{{ w.piezo.p4a|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p4b %}{{ w.piezo.p4b|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p4c %}{{ w.piezo.p4c|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p5a %}{{ w.piezo.p5a|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p5b %}{{ w.piezo.p5b|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                        <td class="text-right" style="vertical-align:middle;">{% if w.piezo.p5c %}{{ w.piezo.p5c|number_format(2, ',', '.') }}{% else %}-{% endif %}</td>
                    {% else %}
                        <td colspan="15" style="vertical-align:middle;">Tidak Ada Data</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}

<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<script>
    // resolve package confict
    // let datepicker = $.fn.datepicker.noConflict();
    // $.fn.bootstrapDP = datepicker;

    $('#datepicker').datepicker({
        todayHighlight: true,
        autoclose: true,
        format: 'yyyy-mm-dd'
    });

    $('#datepicker').on('changeDate', function () {
        window.location = "{{ path_for('operasi.harian') }}?sampling=" + $('#datepicker').datepicker('getFormattedDate')
    });
</script>
{% endblock %}
